/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-light: #F6F6F6;
    --bg-dark: #23272a;
    --bg-blue: #255EE9;
    --contrast-color: #748ADB;
}

body{
    font-family: 'Whitney', Helvetica, Arial, sans-serif;
}

p{
    color: gray;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: var(--contrast-color);
}

/* Utility flex*/
.d-flex{
    display: flex;
}

.j-space-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

.f-row{
    flex-direction: row;
}

.r-reverse{
    flex-direction: row-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

/*containes*/
.container{
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

.small-container{
    width: 40%;
    max-width: 900px;
    margin: 100px auto;
}

/* bottoni */
.big-button{
    padding: 14px 22px;
    border-radius: 50px;
    font-size: 22px;
}

.small-button{
    padding: 6px 14px;
    border-radius: 50px;
}

.big-button:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.small-button:hover{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.b-dark{
    background-color: var(--bg-dark);
}

.b-light{
    background-color: white;
}

.b-purple{
    background-color: var(--contrast-color);
}


/* --- Headrer --- */
header{
    height: 60px;
    background-color: var(--bg-dark);
}

#header-list > div{
    padding: 0 20px 0 20px;
    color: white;
}

#header-list > div:hover{
    text-decoration: underline;
}

/* --- Footer --- */
footer{
    background-color: var(--bg-dark);
    line-height: 2;
    color: white;
}

#top-footer{
    margin-top: 8%;
}

#top-footer > div{
    width: 17%;
}

footer h3{
    color: var(--contrast-color);
    font-size: 28px;
    line-height: 1;
    padding-bottom: 14px;
}

footer ul{
    list-style: none;
}

footer li:hover{
    text-decoration: underline;
}

footer li:first-child:hover{
    text-decoration: none
}
 footer a{
    color: white;
 }
h4{
    color: var(--contrast-color);
}

.flag{
    height: 16px;
}
.social{
    padding-right: 8%;
}

#bottom-footer{
    margin: 4% 0 0 0;
    padding: 1% 0 1% 0;
    border-top: 1px solid var(--contrast-color);
}

