/* Generals */

/* Custum properties */
:root{
    --bg-light: #F6F6F6;
    --bg-dark: #23272a;
    --bg-blue: #255EE9;
    --contrast-color: #748ADB;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug{
    border: 1px solid red;
} */

/* formattazione testo*/
.t-color-white{
    color: white;
}

.t-color-black{
    color: black
}

body{
    font-family: 'Whitney', Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

/* Utility flex*/
.d-flex{
    display: flex;
}

.j-space-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

.f-row{
    flex-direction: row;
}

.r-reverse{
    flex-direction: row-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

/* Containers */
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.small-container{
    width: 60%;
    max-width: 900px;
    margin: auto;
}

/* bottoni */
.big-button{
    padding: 14px 22px;
    border-radius: 50px;
    font-size: 22px;
}

.small-button{
    padding: 6px 14px;
    border-radius: 50px;
}


.b-dark{
    background-color: var(--bg-dark);
}

.b-light{
    background-color: white;
}

.b-purple{
    background-color: var(--contrast-color);
}


/* --- Headrer --- */
header{
    height: 60px;
    background-color: var(--bg-blue);
}

#header-list > div{
    padding: 0 20px 0 20px;
}

/* --- Main --- */
#hero{
    height: 650px;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

h1{
    padding: 0 0 4% 0;
    font-size: 3.8em;
}

#hero p{
    padding: 0 0 5% 0;
    font-size: 22px;
}

#hero a{
        margin: 0 20px 0 20px;
    
}

#place{
    padding: 8% 0 5% 0;
}

#meet{
    background-color: var(--bg-light);
    padding: 5% 0;
}

#comunity{
    padding: 5% 0;
}

#tecnology{
    padding: 5% 0;
    text-align: center;
    background-color: var(--bg-light);
}

#tecnology .image{
    width: 100%;
    max-width: 100%;
}

#tecnology .content{
    width: 100%;
}

#call-to-action{
    padding: 5% 0;
    background-color: var(--bg-light);
}

.star-bg{
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid blue;
    
}

svg{
    opacity: 0.03;

}

h2{
    font-size: 3.5em;
    padding-bottom: 28px;
}

h3{
    font-size: 1.8em;
    padding-bottom: 5%;
}

p{
    font-size: 1.4em;
    line-height: 1.5;
}

.stars{
    transform: translateY(18px);
}

.trsl{
    transform: translateY(3px);
}

.updown{
    transform: scale(1, -1)
}

.image{
    width: 60%;
    max-width: 100%;
}

.content{
    width: 40%;
}

/* --- Footer --- */
footer{
    background-color: var(--bg-dark);
    line-height: 2;
    color: white;
}

#top-footer{
    margin-top: 8%;
}

#top-footer > div{
    width: 17%;
}

footer h3{
    color: var(--contrast-color);
    font-size: 28px;
    line-height: 1;
    padding-bottom: 14px;
}

footer ul{
    list-style: none;
}

h4{
    color: var(--contrast-color);
}

.flag{
    height: 16px;
}
.social{
    padding-right: 8%;
}

#bottom-footer{
    margin: 4% 0 0 0;
    padding: 1% 0 1% 0;
    border-top: 1px solid var(--contrast-color);
}

